*{
    box-sizing: border-box;
}
body {
    font-family: "Robotocondensed",sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    position: relative;
    width: 100%;
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
    
    margin-bottom: 0;
    padding: 0;
}
header img {
    width: 100%;
    height: 200px;
    object-fit: fill; /* Esta propiedad asegura que la imagen cubra todo el header */
}
.logo{
    width: 5rem;
    height: 5rem;
    object-fit: fill;
    border-radius: 50%;
}
.div-logo{
    align-items: start;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    padding: 0;
    border: 0;
}
nav a {
    color: #f4f4f4;
    text-decoration: none;
    /*margin: 0 15px;*/
    font-size: 1.2em;
    
}
.redes{
    display: flex;
    justify-content: space-evenly;
 
}
.whatsapp{
    color: #f4f4f4;
    font-size: 2.5em;
    margin: 2rem;
}
.facebook{
    color:  #f4f4f4;
    font-size: 2.5em;
    margin: 2rem;
}
nav a:hover {
    text-decoration: underline;
}
.delicioso{
    width: 100%;
    min-height: 150px;
    max-height: 450px;
    object-fit: fill;
}
.producto{
    display: flex;
    background-color: #f4f4f4;
    
}
.descripcion-producto{
width: 50%;
padding: 4%;
}
.imagen-producto{
    width: 50%;
    
}
.img-producto{
    width: 100%;
    max-height: 500px;
    min-height: 150px;
    object-fit: fill;
    overflow: hidden;
}
h1{
    text-align: center;
}
.boton-producto button{
    background-color: #444;
    color: #f4f4f4;
    width: 15em;
    height: 5em;
    border-radius: 5px;
    margin-left: 12em;
}
.cuadrado{
    display: flex;
    justify-content: center;
}
.nosotros li{
    font-size: 2em;
    list-style: none;
    padding: 0.5em;
}
.nosotros p{
    padding: 1em;
}
.nosotros h1{
    font-size: 1.2em;
    margin-top: 0;
}
.nosotros{
    border-style: dotted;
    border-width: 1px;
    margin: 10px;
    width: 20em;
    height: 16.5em;
    text-align: start;
}
.nosotros:hover{
    transition: .5s;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);

    box-shadow: 3px 3px 20px #444;


}
.boton-sobrenosotros button{
    background-color: #444;
    color: #f4f4f4;
    width: 20em;
    height: 5em;
    margin-bottom: 2em;
}
.sobre-nosotros{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact {
    margin-bottom: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: #333;
    color: #f4f4f4;
}
.contactanos{
    margin-left: -800px;
}
.h1contactanos{
    text-align: center;
}
.contactanos ul{
    text-align: left;
    list-style: none;
    padding: 0;

}
.contactanos ul li {
    display: flex;
    margin-bottom: 10px;
}
.contactanos ul li i {
    margin-right: 10px;
}
.hola{
    color: #0ea73c;
    font-size: 4em;
    margin-left: 7rem;
    bottom: 1em;
    right: 1em;
    position: fixed;

}
.footer-logo{
        align-items: start;
        margin-left: -400px;
}
.logo-footer{
    width: 7rem;
    height: 7rem;
    object-fit: fill;
    border-radius: 20%;
}
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    padding: 10px;
    font-size: 1em;
    background-color: #444;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #555;
}
footer p {
    text-align: center;
}

@media  (max-width: 425px){
    header{
        height: 3.5em;
    }
    header img{
        height: 3.5em;
    }
    .logo{
        width: 1.2rem;
        height: 1.2rem;
        object-fit: fill;
        border-radius: 50%;
    }
    
    .whatsapp{
        color: #f4f4f4;
        font-size: 0.8em;
        margin: 0.2em;
    }
    .facebook{
        color:  #f4f4f4;
        font-size: 0.8em;
        margin: 0.2em;
    }
    .descripcion-producto{
        width: 100%;
        padding: 4%;
        font-size: 1.5%;
        }
        
        .producto{
            display: flex;
             flex-direction: column;
             margin-bottom: 10px;
        }
        .imagen-producto{
            width: 100%;
            
        }
        .img-producto{
            width: 100%;
            height: 1.2em;
            object-fit: fill;
            overflow: hidden;
            padding-bottom: 10px;
        }
        .boton-producto button{
            margin-top: 10px;
            margin-left: 12.5em;
            font-size: 8px;
            width: 15em;
            height: 2em;
        }
        .cuadrado{
            display: flex;
            flex-wrap: wrap;
        }
        
        nav a{
            font-size: 0.5rem;
            margin: 0;
        }
        footer nav{
            display: flex;
            flex-wrap: wrap;
        }
        .footer-logo{
            margin-right: 0;
            margin-left: -70px;
        }
        .logo-footer{
            margin-top: 10px;
            width: 5rem;
            height: 5rem;
            object-fit: fill;
            border-radius: 20%;
        }
        .hola{
            font-size: 2.5rem;
            position:fixed;
            bottom: 7rem;
            right: 1rem;
        }
        .contactanos{
            font-size: 0.8em;
            margin-left: -120px;
        }
        .carousel-inner{
            height: 20em;
        }
        .carousel-item img{
            object-fit: fill;
            height: 90%;
        }
        .pedido{

            flex-direction: column;
            justify-content: start;
            align-items: start;
            
            img{ 
                height: 300px;
            }
        }
       


}


/* css pagina sobre nosotros*/
.carousel-item{
    height: 30rem;
    margin: 0;
    padding: 0;
    
}

.carousel-item img{
    object-fit: fill;
    height: 95%;
}

.historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10PX;
    
}
.historia img{
        height: 500px;
        width: 90%;
}
.feria{
    margin-top: 1em;
}
/* css pagina producto*/
.pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
    img{
        border-radius: 15px;
    }
}
.pedido-descripcion{
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        margin: 0;
        padding-top: 0;
        font-size: 3em;
    }
    p{

        font-size: 1em;
    }
    button{
        border-radius: 10px;
        width: 15em;
        height: 5em;
        color: #f4f4f4;
        background-color: #444;
    }
}