*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    position: relative;
    width: 100%;
    max-height: 300px; /* Puedes ajustar la altura según tus necesidades */
    overflow: hidden;
    min-height: 150px;
    margin-bottom: 0;
    padding: 0;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Esta propiedad asegura que la imagen cubra todo el header */
}
.logo{
    width: 5rem;
    height: 5rem;
    object-fit: fill;
    border-radius: 50%;
}
.div-logo{
    align-items: start;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    padding: 0;
    border: 0;
}
nav a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    margin: 0;
    
}
.redes{
    display: flex;
    justify-content: space-between; 
}
.whatsapp{
    color: #f4f4f4;
    font-size: 2.5em;
}
.facebook{
    color:  #f4f4f4;
    font-size: 2.5em;
}
nav a:hover {
    text-decoration: underline;
}
.delicioso{
    width: 100%;
    min-height: 150px;
    max-height: 450px;
    object-fit: fill;
}
.producto{
    display: flex;
    
    height: 500px;
}
.descripcion-producto{
width: 50%;
padding: 4%;
}
.imagen-producto{
    width: 50%;
    
}
.img-producto{
    width: 100%;
    max-height: 500px;
    min-height: 150px;
    object-fit: fill;
    overflow: hidden;
}
h1{
    text-align: center;
}





.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #f4f4f4;
}
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    padding: 10px;
    font-size: 1em;
    background-color: #444;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #555;
}


@media  (max-width: 425px){
    .logo{
        width: 2.5rem;
        height: 2.5rem;
        object-fit: fill;
        border-radius: 50%;
    }
    .whatsapp{
        color: #f4f4f4;
        font-size: 0.8em;
        margin: 0.2em;
    }
    .facebook{
        color:  #f4f4f4;
        font-size: 0.8em;
        margin: 0.2em;
    }
    .descripcion-producto{
        width: 100%;
        padding: 4%;
        font-size: 1.5%;
        }
        
        .producto{
            display: flex;
             flex-direction: column;
            height: 255px;
        }
        .imagen-producto{
            width: 100%;
            
        }
        .img-producto{
            width: 100%;
            height: 100px;
            object-fit: fill;
            overflow: hidden;
        }
        nav a{
            font-size: 0.5rem;
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: #f4f4f4;
        }
}